.git
.gradle
build/
**/build/
node_modules/
**/node_modules/
dist/
**/dist/
.idea
*.iml
*.log
application-local.properties
.env
.env.local
.env.production
.env.development
keys/
setenv.sh
.gcloudignore